.wrapper{
  display: flex;
}

/*サイドバー関係*/
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}


/*サイドバー上部*/
.side-top{
  height: 100px;
  padding: 0px 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-name a{
font-size: 16px;
color: #fafafa;
text-decoration: none;
}

.side-creat a{
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;
}

/*サイドバー下部*/
.side-bottom{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0px 20px;
  overflow: scroll;
}

.side-room{
  padding: 20px 0 40px 0;
}

.room-name{
  color:white
}

/*メインチャット関係*/

.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-top{
  height: 100px;
  padding:  0px 40px;
}

.main-center{
height: calc(100vh - 100px - 90px);
background-color: #fafafa;
padding: 46px 40px 0;
}

.main-bottom{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}