.wrapper{
  display: flex;
}

/*サイドバー関係*/
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-top{
  height: 100px;
}

.side-bottom{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
}


/*メインチャット関係*/

.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-top{
  height: 100px;
}

.main-center{
height: calc(100vh - 100px - 90px);
background-color: #fafafa;
}

.main-bottom{
  height: 90px;
  background-color: #dddddd;
}